@use "_vars" as *;

#facets {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;

  &.hidden {
    display: none;
  }

  .facet {
    min-width: 125px;
    flex-grow: 1;
    flex-basis: 0;

    &:not(:last-child) {
      margin-right: 12px;
    }
  }

  ul {
    min-width: 0;
    list-style: none;
    margin-left: 0;

    li {
      min-width: 0;
      white-space: nowrap;
      font-size: 0.85em;
      cursor: pointer;

      color: $grey-color-dark;

      &.in-query {
        color: black;
        font-weight: 500;
      }

      & > span {
        display: flex;
        align-items: center;

        .limited {
          padding-right: 0.3em;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        .cnt {
          color: $grey-color-light;
        }
      }

      .bar-full {
        border-bottom: 2px solid #ddd;
        width: 100px;
        max-width: 100%;
        margin-bottom: 3px;

        .bar {
          border-bottom: 2px solid $brand-color;
          margin-bottom: -2px;
        }
      }
    }
  }
}

#only-highlight input {
  vertical-align: text-bottom;
}

#only-highlight.hidden {
  display: none;
}

@include media-query($on-laptop) {
  .bar-full {
    width: 80px !important;
  }
}

#clear-filters {
  color: $grey-color-dark;
  font-weight: 500;
  cursor: pointer;

  &:hover {
    color: $text-color;
  }

  &.hidden {
    opacity: 0;
  }

  i {
    color: firebrick;
  }
}

#ft-search {
  width: 350px;
  font-size: 1.1em;
  padding: 0.4em;
}

.pubs {
  .pub-year {
    font-size: 1.3em;
    margin: 0.7em 0 0.5em 0;
    border-bottom: none;
    color: white;
  }

  .publication,
  .year {
    opacity: 1;
    max-height: 600px;
    overflow: hidden;
    transition: all 0.6s ease;
    color: white;

    &.hidden {
      max-height: 0;
      margin: 0;
      opacity: 0;
    }
  }

  .publication {
    margin-bottom: 2em;

    h3 {
      font-size: 1.2em;
      margin: 0em;
      font-weight: 500;
      color: white;

      max-height: 600px;
      overflow: hidden;

      &.hidden {
        max-height: 0;
      }
    }

    .award-icon {
      margin-right: 0.2em;
      font-size: 1.2em;

      &.fa-trophy {
        color: $yellow-color;
      }

      &.fa-award {
        color: firebrick;
      }
    }

    .authors {
      margin-bottom: 0.3em;
      font-weight: 300;
      color: white;
      a {
        color: #3eb7f0;
      }
    }

    .venue,
    .venue a {
      color: white;
    }

    .awards {
      margin-top: 0.1em;
      font-weight: 500;
      color: firebrick;
    }

    .share {
      &:hover {
        text-decoration: none;

        .message {
          text-decoration: underline;
        }
      }
      .message {
        font-size: 0.9em;
        font-style: italic;
        color: white;
      }
    }

    p {
      margin-bottom: 0;
      color: white;
    }

    .extra-links {
      margin-top: 0.5em;
      font-weight: 300;
      font-size: 0.9em;

      a {
        margin-right: 0.6em;
        white-space: nowrap;
        color: #3eb7f0;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        padding: 0.35em 0.9em;
        border: 1px solid #d5d5d5;
        border-radius: 6px;
        text-transform: uppercase;
        letter-spacing: 0.05em;
        font-weight: 500;
        transition: background-color 0.2s ease, color 0.2s ease, border-color 0.2s ease;

        &:hover {
          text-decoration: none;
          color: $dark-background-color;
          background-color: #3eb7f0;
          border-color: #3eb7f0;
        }
      }
    }
  }
}
